/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #131213;
    padding-top: 60px;
    transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #6a6f72;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #101010;
    margin: 6px 0;
}

#openBtn {
    position: fixed;
}

header {
    text-align: center;
}


.img-logo
{
    width: 150px;
    margin-top: 3px;
    margin-bottom: 3px
}


.lawyer
{
    text-decoration: none; /* enlève le soulignement */
    color: black; /* met la couleur en noir */
    font-size: 30px; /* met la taille de police à 20px */
}
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 40px; /* centrage vertical */
    border-top: black solid 1px;
    bottom: 0;
}
footer a
{
    text-decoration: none;
    color: black;
}
.text {
    font-size: 18px;
    max-width: 100%;
    margin-bottom:30px;

}
.text p {
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.form form {
    display: flex;
    flex-direction: column;
}



fieldset {
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit {
    margin: auto;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}


.input {
    height: 150px;
    width: 300px;

}
.input::placeholder {
    text-align: center;
}
.submit{

}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Tahoma", sans-serif;
    font-size: 18px;

}
@media all and (max-width: 600px){
    footer {

        text-align: center;
        width: 100%;
        margin-top: 50px;

    }
}

