body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic","Tahoma", sans-serif;
    background-color: rgba(226,232,234,0.85);
}
header
{
    text-align: center;
}
/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #131213;
    padding-top: 60px;
    transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #6a6f72;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #101010;
    margin: 6px 0;
}

#openBtn {
    position: fixed;
}




.img-logo
{
    width: 150px;
    margin-top: 3px;
    margin-bottom: 3px
}
.lawyer
{
    text-decoration: none; /* enlève le soulignement */
    color: black; /* met la couleur en noir */
    font-size: 30px; /* met la taille de police à 20px */
}
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 40px; /* centrage vertical */
    border-top: black solid 1px;

}

footer a{
    text-decoration: none;
    color: black;
}
.contact{
    text-decoration: none;
    color: black;
    border: 0.5px solid black;
    border-radius: 4px;
    margin: 20px auto;
    padding: 10px;
    display: inline-block;
    font-size: 20px;

}
#contact{
    display: flex;

}
/*banner*/
.img-bdx {
    width:100%;
    object-fit: cover;
    height: 100%;
}

.banner{
    width:100%;
    aspect-ratio: auto;

}
h1{
    text-align: center;
}
/*text*/
.text {
    display: flex;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 3px;
    font-size: 15px;

}

card{
    box-shadow: 5px 5px 14px #b7b3b3;
    border-radius: 10px;
    padding: 10px;

}

@media all and (max-width: 600px){
    footer {
        background-color: #8cb4c4;
        text-align: center;
        width: 100%;
        margin-top: 50px;

    }
}
