<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/fees.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/footer.js"></script>
    <title>Honoraires</title>
</head>

<body>
<div id="mySidenav" class="sidenav">
    <a id="closeBtn" href="#" class="close">×</a>
    <ul>
        <li><a href="home.html">Accueil</a></li>
        <li><a href="lawyer.html">Votre avocat</a></li>
        <li><a href="skills.html">Compétences</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div>

<a href="#" id="openBtn">
  <span class="burger-icon">
    <span></span>
    <span></span>
    <span></span>
  </span>
</a>
<div class="banner">
    <img src="../img/bordeaux_1.jpeg" class="img-bdx" alt="ville de bordeaux" loading="eager">
</div>
<header>

    <a href="home.html">
        <img class="img-logo" src="../img/logo_kj_avocat.webp" alt="logo kevin jurion avocat">
    </a>
    <h1>Honoraires</h1>
</header>
<div class="text">
    <card>
<p>
    Les honoraires facturés par Maître Kévin JURION sont fixés au préalable dans la plus grande transparence.
</p>
<p>

 L'article 10 de la loi du 31 décembre 1971 prévoit que les honoraires sont fixés, selon les usages, en fonction de
    "la situation de fortune du client, et de la difficulté de l'affaire, des frais exposés par l'avocat, de sa notoriété
    et diligences de celui-ci".
</p>
<p>
    Leurs modalités de détermination dépendent donc de la nature et de la complexité de l'affaire.
</p>
<p>
    Les honoraires peuvent être définis au forfait ou au temps passé.
</p>
<p>
    Un honoraire de résultat pourra être facturé en complément dans certains cas, il est déterminé en fonction des sommes
    obtenues devant la juridiction, ou de l'économie réalisée par rapport à la réclamation de la partie adverse.<br>
    Le pourcentage appliqué est compris entre 10 et 15% H.T.
</p>
<p>
    Selon l'article 11 du Règlement Intérieur National de la profession d'avocat et conformément à la loi du 6 août 2015,
    une convention et une facture d'honoraires seront établies.
</p>
    </card>
</div>
<div id="contact">
    <a href="contact.html" class="contact">CONTACT</a> <br>
</div>
<footer>
    <div id="footer"></div>
</footer>
<script src="../js/test.js"></script>
</body>

</html>