<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kévin Jurion avocat au barreau de bordeaux">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/home.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <title>Accueil</title>
</head>
<body>
<div id="mySidenav" class="sidenav">
    <a id="closeBtn" href="#" class="close">×</a>
    <ul>
        <li><a href="lawyer.html" title="votre avocat">Votre avocat</a></li>
        <li><a href="skills.html" title="compétences">Compétences</a></li>
        <li><a href="fees.html" title="honoraires">Honoraires</a></li>
        <li><a href="contact.html" title="contact">Contact</a></li>
    </ul>
</div>

<a href="#" id="openBtn" aria-label="Ouvrir le menu">
  <span class="burger-icon">
    <span></span>
    <span></span>
    <span></span>
  </span>
</a>

<div class="banner">
    <img src="../img/bordeaux_1.jpeg" class="img-bdx" alt="ville de bordeaux" loading="eager">
</div>
<header>
    <img class="img-logo" src="../img/logo_kevin_jurion_avocat.png" alt="logo kevin jurion avocat" loading="lazy" >
</header>
<div class="text">
<div class="card">
    <img  src="../img/kevinJurion.JPG" alt="kevin jurion" loading="lazy"><br>
    <div class="content">
    <p>
        Maître Kévin JURION est titulaire d'un Master de Droit pénal et processuel obtenu à l'université de Lille 2.

    </p>
    <p>
        Après avoir prêté serment en 2018 à la cour d'appel de Bordeaux, Maître JURION a consacré sa carrière au droit
        pénal en travaillant au sein de cabinets pénalistes.

    </p>
    <p>
        Il a ainsi développé une réelle expertise pénale et vous assiste devant toutes les juridictions :
        Tribunal de police, Tribunal correctionnel, Cour d'assises, Cour d'appel, Juge d'instruction, Juge des libertés et
        de la détention, Juge de l'application des peines etc.
    </p>
    <p>
        Inscrit au barreau de Bordeaux, Maître JURION vous reçoit dans son cabinet uniquement sur rendez-vous.
    </p>
    </div>
</div>
</div>
<div class="adresse">
    <a href="contact.html">CONTACT</a>
    <p>
        16, rue Emile Duployé<br>
        33000 Bordeaux<br>
        Horaires d'ouverture du cabinet : lundi au vendredi (9h-18h).
    </p>

</div>
<footer>
    <div id="footer"></div>
</footer>
<script src="../js/test.js" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="../js/footer.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lozad.js/1.0.8/lozad.min.js"></script>
</body>
</html>