<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kévin Jurion avocat au barreau de bordeaux">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
    <link rel="stylesheet" href="../css/lawyer.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <title>Votre Avocat</title>
</head>

<body>
<div id="mySidenav" class="sidenav">
    <a id="closeBtn" href="#" class="close">×</a>
    <ul>
        <li><a href="home.html">Accueil</a></li>
        <li><a href="skills.html">Compétences</a></li>
        <li><a href="fees.html">Honoraires</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div>

<a href="#" id="openBtn">
  <span class="burger-icon">
    <span></span>
    <span></span>
    <span></span>
  </span>
</a>
<div class="banner">
    <img src="../img/bordeaux_1.jpeg" class="img-bdx" alt="ville de bordeaux" loading="eager">
</div>
<header>
    <img class="img-logo" src="../img/logo_kevin_jurion_avocat.png" alt="logo kevin jurion avocat" loading="lazy" >
</header>
<h1>Votre avocat</h1>
<div class="text">
<div class="card">
<h2> Droit pénal</h2>
<img src="../img/tribunal_instance_bordeaux.jpg" alt="tribunal d'instance de bordeaux" loading="lazy">
<p>
  Avocat depuis 2018, Maître Kévin JURION s'est consacré à la défense pénale tout au long de son parcours professionnel.
</p>
<p>
  Il a ainsi développé une réelle expertise en matière pénale et vous assiste devant toutes les juridictions :
  Tribunal de police, Tribunal correctionnel, Cour d'assises, Cour d'appel, Juge d'instruction, Juge des libertés et
  de la détention, Juge de l'application des peines etc.

</p>
<p>
  Le cabinet de Maître Kevin JURION vous accompagnera tout au long de la procédure avec la mise en place d'une stratégie
  adaptée afin de préserver vos intérêts, et vous défendra avec force et conviction.
</p>
<p>
  Maître Kevin JURION est susceptible de vous assister dès la phase d'enquête et jusqu'à la phase d'exécution de la peine.
</p>
<p class="strong">
    <strong>Le cabinet de Maître Kevin JURION peut intervenir devant les juridictions pénales de la France entière.</strong>
</p>
</div>
    <div class="card_1">
<h2>Droit du permis de conduire</h2>
        <img src="../img/droit_routier.jpg" alt="image avec permis de conduire" loading="lazy">
<p>
  Fort d'une véritable expertise technique en <strong>droit routier</strong>,Maître Kévin JURION a à coeur de vous proposer
  une défense de la plus grande qualité ainsi qu'un accompagnement sur-mesure.
</p>
<p>
  Après avoir plaidé devant la majorité des juridictions pénales du territoire, Maître Kévin JURION intervient avec
  réactivité et efficacité concernant toutes les problématiques liées au permis de conduire et l'automobile, et ce,
  sur l'ensemble du territoire national.
</p>
    </div>
</div>

<div id="contact">
    <a href="contact.html" class="contact">CONTACT</a> <br>
</div>
<footer>
    <div id="footer"></div>
</footer>
<script src="../js/test.js" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="../js/footer.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lozad.js/1.0.8/lozad.min.js"></script>
</body>
</html>