<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/skills.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/footer.js"></script>
    <title>Compétences</title>
</head>

<body>
<div id="mySidenav" class="sidenav">
    <a id="closeBtn" href="#" class="close">×</a>
    <ul>
        <li><a href="home.html">Accueil</a></li>
        <li><a href="lawyer.html">Votre avocat</a></li>
        <li><a href="fees.html">Honoraires</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div>

<a href="#" id="openBtn">
  <span class="burger-icon">
    <span></span>
    <span></span>
    <span></span>
  </span>
</a>
<div class="banner">
    <img src="../img/bordeaux_1.jpeg" class="img-bdx" alt="ville de bordeaux" loading="eager">
</div>
<header>
    <a href="home.html">
        <img class="img-logo" src="../img/logo_kj_avocat.webp">
    </a>
</header>
<h1>Mes compétences</h1>
<div class="text">
    <div class="card">
        <img src="../img/cour_appel_bordeaux.jpg" class="img-cour-appel">
        <p>
            Le cabinet de Maître Kevin JURION couvre toutes les branches du Droit pénal, et vous assiste dans les
            procédures suivantes :
        </p>
        <p>
        <ul class="ul-text">
            <li>
                Assistance au cours de la garde à vue
            </li>
            <li>
                Comparutions immédiates
            </li>
            <li>
                Instructions
            </li>
            <li>
                Aménagement de peines
            </li>
            <li>
                Juge de la liberté et de la détention
            </li>
            <li>
                Assistance des victimes d'infractions pénales
            </li>
        </ul>
        </p>
        <p class="strong">
            <strong>Le cabinet de Maître Kévin JURION intervient devant toutes les juridictions pénales et dans toute la
                France.</strong>
        </p>
    </div>
    <div class="card_1">
        <p>

            <img src="../img/permis_conduire.png" class="img-code-routier">
            Le cabinet de Maître Kevin JURION intervient également en droit du permis de conduire pour des questions
            telles que:
        </p>
        <p>
        <ul class="ul-text_2">
            <li>
                J'ai reçu une lettre m'informant que j'avais perdu tous les points sur mon permis de conduire, que
                faire?
            </li>
            <li>
                Mon permis de conduire a été suspendu par le préfet, quand puis-je reconduire au plus vite?
            </li>
            <li>
                Je n'ai bientôt plus de points, comment réagir?
            </li>
            <li>
                J'ai reçu un avis de contravention par la Poste mais je suis en désaccord avec les faits reprochés,
                puis-je contester?
            </li>
            <li>
                Je suis convoqué en garde à vue ou en audition libre, prendre un avocat est-il vraiment nécessaire?
            </li>
            <li>
                J'ai reçu une convocation en vue d'une comparution sur reconnaissance préalable de culpabilité, de la
                notification
                d'une ordonnance pénale ou composition pénale, qu'est-ce?
            </li>
            <li>
                Je suis victime d'une infraction routière, puis-je déposer plainte ou me joindre à la procédure pénale
                en cours?
            </li>
            <li>
                Puis-je faire effacer les mentions figurant au bulletin n°2 de mon casier judiciaire?
            </li>
            <li>
                Mon véhicule a été immobilisé ou confisqué, puis-je le récupérer?
            </li>
        </ul>
        </p>
        <p class="strong">
           <strong> Le cabinet de Maître Kévin JURION intervient là encore devant toutes les juridictions pénales et dans toute
               la France.</strong>
        </p>
    </div>
</div>
<div id="contact">
    <a href="contact.html" class="contact">CONTACT</a> <br>
</div>
<footer>
    <div id="footer"></div>
</footer>

<script src="../js/test.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>